version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
      gomod:
        patterns:
          - "*"
- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "daily"
- package-ecosystem: "docker"
  directories:
  - "/thirdparty/*"
  schedule:
    interval: "weekly"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
- package-ecosystem: "helm"
  directory: "/thirdparty"
  schedule:
    interval: "weekly"
- package-ecosystem: 'gitsubmodule'
  directory: '/'
  schedule:
    interval: "weekly"
